.booking-modal-container {
    .booking-modal-content {
        height: 500px;

        .booking-header {
            margin: 30px 10px;

            padding: 20px;
            border-bottom: 1px solid rgb(182, 170, 170);

            .booking-content {
                text-transform: capitalize;
                float: left;
            }

            .out-modal {
                float: right;
                cursor: pointer;
            }
        }

        .booking-body {

            padding: 10px;

            .booking-price {
                font-size: 15px;
                margin-bottom: 20px;
            }

            .gender-col {
                display: grid;
            }
        }

        .booking-footer {
            border-top: 1px solid rgb(182, 170, 170);
            display: flex;
            justify-content: flex-end;

            button {
                width: 80px;
                height: 40px;
                margin: 20px 10px 0px;

            }

            .btn-booking-save {
                background-color: rgb(231, 204, 82);

            }

            .btn-booking-cancel {
                background-color: white;
            }
        }
    }
}